<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Page Layout Techniques -->
    <!-- using Semantic tags for layout -->
    <!-- using the Right Tags(header, main and footer)-->
    <header>
            <p>My Portfolio</p>
    </header>
    <main>
    <!-- Inside Main Tag -->
    <!-- Section Tag: For a section on your page -->
    <!-- Article Tag: For an article on your page -->
    <!-- Aside Tag: For content aside main content(ads) -->
    <section>
        Education: MCA at GGSIPU
    </section>
    <section>
        Experiences: Nothing
    </section>
    <article>
        My Story
    </article>
    <aside>This is an ad</aside>
    <hr>

    <!-- Revisiting Anchor Tag -->
    <!-- target="_main" (for new tab) -->
    <a href="https://www.google.com/" target="_main">Google</a> <br>
    <a href="https://www.google.com/"><img src="Google_Icons.png" height="100"></a>
    <hr>

    <!-- Revisiting Image Tag -->
    <img src="Google_Icons.png" height="50px">
    <img src="Google_Icons.png" width="50px">
    <hr>
    <!-- Div Tag -->
    <!-- Div ia a container used for other HTML elements -->
    <!-- Block Element(takes full width) -->
    <div>
        <p>Hello World!</p>
        <p>Namaste</p>
        <p>Hi</p>
    </div>
    <div>
        <p>Bye</p>
        <p>Good Bye</p>
        <p>Ciao</p>
    </div>
    <!-- Span Tag -->
    <!-- Span is also a container used for other HTML elements --> 
    <!-- Inline Element(takes width as per size) -->
    <span>
        BYE
    </span>

    </main>
    <footer>
        <h3>Contact Me</h3>
    </footer>
</body>
</html>